* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-white: #f7f7f7;
  --main-black: #000000;
  --main-gray: #6f6f6f;
  --main-font-nomi: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --primary-font-size: 18px; 
}